<div id="names" class="complist">
  Companies: 
  <% @comps.each { |comp| %>
    <button type="ui-button" onclick="getCompData('<%= comp %>')" style="font-size:10pt"><%= comp %></button>
  <% } %>
</div>
<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Overview</a></li>
    <li><a href="#tabs-2">News</a></li>
    <li><a href="#tabs-3">Blogs</a></li>
  </ul>
  <div id="tabs-1">
    <p id="overview">Company Overvies</p>
  </div>
  <div id="tabs-2">
    <p id="news">Company News</p>
  </div>
  <div id="tabs-3">
    <p id="blog">Company Blogs</p>
  </div>
</div>
<script>

function getCompData(comp) {
  /* OVERVIEW UPDATE */
  // "http://api.crunchbase.com/v/2/organizations?query=amazon&user_key=300f7644a14557a314f82154661c941a&page=1"
  // "http://api.crunchbase.com/v/2/organization/amazon?user_key=300f7644a14557a314f82154661c941a"
  var ovElem = document.getElementById("overview");
  var nsElem = document.getElementById("news");
  var bgElem = document.getElementById("blog");
  var ovQuery = gon.permalinks[comp];
  var nsQuery = "";
  if (ovQuery == null) {
    ovElem.innerHTML = "Sorry, no overview was found.";
    nsQuery = comp.split(" ")[0];
  } else {
    nsQuery = ovQuery.split("/")[1];
    $(document).ready(function(){
      $.ajax({
        url: "http://api.crunchbase.com/v/2/"+ovQuery+"?user_key=300f7644a14557a314f82154661c941a",
        dataType: 'jsonp',
        cache: true,
        success: function(data){
          var prop = data['data']['properties'];
          var text = "";
          text += "<b>Description:</b><br>" + prop['description'] + "<hr>";
          text += "<b>Founded on:</b><br>" + prop['founded_on_year'] + "<hr>";
          text += "<b>Employee number:</b><br>" + prop['num_employees_min'] + " - " + prop['num_employees_max'] + "<hr>";
          ovElem.innerHTML = text;
        },
        error: function() { 
          ovElem.innerHTML = "Sorry, no overview was found.";
        } 
      });
    })
  }

  /* NEWS AND BLOG UPDATE */
  var url = 'http://api.newscred.com/articles?access_key=c4bcc3f7c9bf9ec159f51da0a86ca658&get_topics=False&pagesize=100&min_length=50&max_length=200&query=+"' + nsQuery + '"';
  var xhr = createCORSRequest('GET', url);
  if (!xhr) {
    alert('CORS not supported');
    return;
  }
  xhr.onload = function() {
    var xmlDoc = xhr.responseXML;
    var articles = xmlDoc.getElementsByTagName("article");
    if (articles.length == 0) {
      nsElem.innerHTML = "Sorry, no news were found.";
      bgElem.innerHTML = "Sorry, no blog news were found.";
      return;
    } else {
      nsElem.innerHTML = "";
      bgElem.innerHTML = "";
    }
    var article = articles[0];
    var title = article.getElementsByTagName("title")[0].childNodes[0].nodeValue;
    var description = article.getElementsByTagName("description")[0].childNodes[0].nodeValue;
    var website = article.getElementsByTagName("source")[0].lastChild.childNodes[0].nodeValue;
    var published_at = article.getElementsByTagName("published_at")[0].childNodes[0].nodeValue.split(" ")[0];
    var isBlog = 0;
    try {
      var isBlog = article.getElementsByTagName("is_blog")[0].childNodes[0].nodeValue;
    } catch(error) {
      // pass
    }
    if (isBlog == 1) {
      bgElem.innerHTML = title+'<br>'+description+'<br>'+website+' - '+published_at+'<hr>';
      isBlog = 0;
    } else {
      nsElem.innerHTML = title+'<br>'+description+'<br>'+website+' - '+published_at+'<hr>';
      isBlog = 0;
    } 
    for (i = 1; i < articles.length; i++) {
      article = articles[i];
      title = article.getElementsByTagName("title")[0].childNodes[0].nodeValue;
      description = article.getElementsByTagName("description")[0].childNodes[0].nodeValue;
      website = article.getElementsByTagName("source")[0].lastChild.childNodes[0].nodeValue;
      ublished_at = article.getElementsByTagName("published_at")[0].childNodes[0].nodeValue.split(" ")[0];
      try {
        isBlog = article.getElementsByTagName("is_blog")[0].childNodes[0].nodeValue;
      } catch (error) {
        // pass
      }
      if (isBlog == 1) {
        bgElem.innerHTML += title+'<br>'+description+'<br>'+website+' - '+published_at+'<hr>';
        isBlog = 0;
      } else {
        nsElem.innerHTML += title+'<br>'+description+'<br>'+website+' - '+published_at+'<hr>';
        isBlog = 0;
      }
    }
  }
  xhr.onerror = function() {
    alert('Woops, there was an error making the request.');
  }
  xhr.send();
}

function createCORSRequest(method, url){
  var xhr = new XMLHttpRequest();
  if ("withCredentials" in xhr){
      // XHR has 'withCredentials' property only if it supports CORS
      xhr.open(method, url, true);
  } else if (typeof XDomainRequest != "undefined"){ // if IE use XDR
      xhr = new XDomainRequest();
      xhr.open(method, url);
  } else {
      xhr = null;
  }
  return xhr;
}

</script>