<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" /> 
  <title>Google Maps Multiple Markers</title> 
  <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.1.min.js"></script>
</head>
<body>
  <div id="dvMap" style="width: 600px; height: 600px; float:left">
  </div>
  <div id = "legend" style="width: 600px; height: 600px; float:left; overflow:auto">     
  </div>

  <script type="text/javascript">
var markers = gon.result;
window.onload = function () {
    LoadMap();
}
function LoadMap() {
    var mapOptions = {
        center: new google.maps.LatLng(markers[0].latitude, markers[0].longitude),
        zoom: 8,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var infoWindow = new google.maps.InfoWindow();
    var latlngbounds = new google.maps.LatLngBounds();
    var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);
    var legend = document.getElementById("legend");
    legend.innerHTML = "";
    var start_letter_code = 97;
    var marker_color = "ff4949";
    var marker_text_color = "FFFFFF";
    for (var i = 0; i < markers.length; i++) {
        var character = String.fromCharCode(start_letter_code).toUpperCase();
        start_letter_code++;
 
        var data = markers[i]
        var myLatlng = new google.maps.LatLng(data.latitude+(Math.random()*2-1)*0.01, data.longitude+(Math.random()*2-1)*0.01);
        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title: data.jobtitle,
            icon: "http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=" + character + "|" + marker_color + "|" + marker_text_color
        });
        (function (marker, data) {
            google.maps.event.addListener(marker, "click", function (e) {
                infoWindow.setContent("<div style = 'width:300px;height:150px;float:auto'>" + data.jobtitle + "<br>"
                	+ data.company + "<br>" + data.snippet + "<br>" 
                	+ '<a href="' + data.url + '">Source</a>' + "</div>");
                infoWindow.open(map, marker);
            });
        })(marker, data);
        latlngbounds.extend(marker.position);
 
        legend.innerHTML += "<div style = 'margin:5px'><img align = 'middle' src = '" + marker.icon + "' />&nbsp;Job Title: " + marker.title + "<br>Company: " + data.company + "<br>Description: " + data.snippet + "</div><hr>";
    }
    var bounds = new google.maps.LatLngBounds();
    map.setCenter(latlngbounds.getCenter());
    map.fitBounds(latlngbounds);
}
  </script> 
</body>
</html>